<div class="cadastro">
  <!-- text interpolation -->
  <h3>{{ titulo }}</h3>

  <!-- property binding -->
  <form [formGroup]="formGroupPessoa">
    <div class="row" style="display: flex;">
      <div class="nome">
        <label for="nome">nome</label>
        <input type="text" id="nome" formControlName="nome">
      </div>
      <div class="data-nascimento">
        <label for="dataNascimento">data de nascimento</label>
        <input type="date" id="dataNascimento" formControlName="dataNascimento">
      </div>
    </div>
    <div class="row">
      <div class="telefone">
        <label for="telefone">telefone</label>
        <input type="text" id="telefone" formControlName="telefone">
      </div>
    </div>
    <div class="row" style="display: flex;">
      <div class="rua">
        <label for="rua">rua</label>
        <input type="text" id="rua" formControlName="rua">
      </div>
      <div class="numero">
        <label for="numero">número</label>
        <input type="number" id="numero" formControlName="numero">
      </div>
    </div>
    <div class="row">
      <div class="bairro">
        <label for="endereco">bairro</label>
        <input type="text" id="bairro" formControlName="bairro">
      </div>
    </div>
    <div class="row">
      <div class="email">
        <label for="endereco">email</label>
        <input type="email" id="email" formControlName="email">
      </div>
    </div>
  </form>

  <!-- event binding e property binding -->
  <div class="row">
    <button class="success" (click)="salvar()" [disabled]="formGroupPessoa.invalid">salvar</button>
    <button (click)="limpar()">limpar</button>
  </div>
</div>

<!-- property binding -->
<div class="formulario" [class]="formGroupPessoa.valid ? 'formulario-valid' : 'formulario-invalid'">
  <p>{{ formGroupPessoa.valid ? 'formulário válido' : 'formulário inválido' }}</p>
</div>
